<% include header %>
<div id="header">
<!-- Top Navigation Bar -->
<button type="button">
<img src="/images/icons/home.png" height="40px" width="40px" align="absmiddle" style="padding-right:5px;"><a href="main">Front</a>
</button>

<button type="button" class="active">
<img src="/images/icons/search.png" height="40px" width="40px" align="absmiddle" style="padding-right:5px;"><a href="discover">Discover</a>
</button>

<button type="button">
<img src="/images/icons/chat.png" height="40px" width="40px" align="absmiddle" style="padding-right:5px;"><a href="me">At Me</a>
</button>

<button type="button">
<img src="/images/icons/profile.png" height="40px" width="40px" align="absmiddle" style="padding-right:5px;"><a href="my_profile">My Profile</a>
</button>

<button type="button">
<img src="/images/icons/logout.png" height="40px" width="40px" align="absmiddle" style="padding-right:5px;"><a href="/user/logout">Logout</a>
</button>
</div>
<div id="bar"></div>
<br>

<!-- Using a table to create a dynamically fluid webpage -->
<table cellspacing="0" cellpadding="0" id="main_size" align="center">
	<tr>
		<td valign="top" width="220px">

            <div id="content">
                <!-- Search Field and Button-->
    	       <textarea rows="1">I'm looking for...</textarea>
     	      <input type="submit" value="Find me!"> <a class="text"></a></input>
            </div>

            <br>
            <div id="content"width="100%">
                <div class="text">
                <!-- Search by Categories -->
                  <h3><center>Categories</center></h3>
                  <hr><font size="3pt">
                  <ul>
                    <li><a href="" title="search by profiles">People</a></li>
                    <li><a href="" title="search by warbles">Warbles</a></li>
                    <li><a href="" title"search by file uploads">Uploads</a></li>
                    <li>etc...</li>
                    </uL></font>
                </div>
            </div>

            <br> 
            <div id="content"width="100%">
          <h1 class="Warble"><center>Online Users</center></h1>
          <div class="text"><hr></div>
          <div style="padding:5px; filter:alpha(opacity=.7); opacity:.7;" >

              <% for(var userid in users) { %>
            - <a href="/users/<%= users[userid].username %>"><%= users[userid].username %></a><br>
            <% } %>

          </div>
          </div>
          <br>

          <div id="content"width="100%">
          <h1 class="Warble"><center>New Users</center></h1>
          <div class="text"><hr></div>
          <div style="padding:5px; filter:alpha(opacity=.7); opacity:.7;" >
        <ul>
        <% for(var i = allUsers.length-1 ; i > (allUsers.length-6); i--) { %>
          <li><a href="/users/<%= allUsers[i].username %>"><%= allUsers[i].username %></a></li>
        <% } %>
        </ul>
        </div>
        </div>
          

 		</td>

        <td width="15px"></td>
    	<td valign="top" id="default">
            <!-- Search Results -->
           <% for(var i = warble.length-1 ; i >= 0; i--) { %>
                  <table width="100%" valign="top"><td><b>
                  <a href="/users/<%= warble[i].username %>"><%= warble[i].username %></a>
                  </b> <font size="2">on 
                  <%= warble[i].date %>
                  </font><br>
                  <%= warble[i].message %>
                  <br><font size=2><u>Attached</u>: <i>
                  <%= warble[i].attachment %>
                  </i></font> </b></td><td width="50px"><font size="2"><a href="">Reply</a><br>
                  <a href="">Warble</a><br><!--<a href="front" onClick = warble.splice (i, 1);>Delete</a><br>--><a href="">Download</a></font></td></table><hr>
                  <% } %>
    		</td>
    	</tr>

</table>
<% include footer %>