<% include header %>
<script src="http://cdn.jquerytools.org/1.2.7/full/jquery.tools.min.js"></script>
<script>
$(document).ready(function(){
  $("change").load("recentWarbles");
  $("onlineUsers").click(function(){
    $("change").load("onlineUsers");
  });
  $("allUsers").click(function(){
    $("change").load("allUsers");
  });
  $("recentWarbles").click(function(){
    $("change").load("recentWarbles");
  });
  $("recentUploads").click(function(){
    $("change").load("recentUploads");
  });
});
</script>
<div id="header">
<!-- Top Navigation Bar -->
<button type="button">
<img src="/images/icons/home.png" height="40px" width="40px" align="absmiddle" style="padding-right:5px;"><a href="main">Front</a>
</button>

<button type="button" class="active">
<img src="/images/icons/search.png" height="40px" width="40px" align="absmiddle" style="padding-right:5px;"><a href="discover">Discover</a>
</button>

<button type="button">
<img src="/images/icons/chat.png" height="40px" width="40px" align="absmiddle" style="padding-right:5px;"><a href="me">At Me</a>
</button>

<button type="button">
<img src="/images/icons/profile.png" height="40px" width="40px" align="absmiddle" style="padding-right:5px;"><a href="my_profile">Profile</a>
</button>

<button type="button">
<img src="/images/icons/logout.png" height="40px" width="40px" align="absmiddle" style="padding-right:5px;"><a href="/user/logout">Logout</a>
</button>
</div>
<div id="bar"></div>
<br>

<!-- Using a table to create a dynamically fluid webpage -->
<table cellspacing="0" cellpadding="0" id="main_size" align="center">
  <tr>
    <td valign="top" width="220px">

      <div id="content">
        <!-- Search Field and Button for users-->
        <textarea rows="1" onblur="if(this.value==''){this.value='Search...'}" onclick="this.select()">I'm looking for...</textarea>
        <a href="" id="get"><input type="submit" value="Find user!"></input></a>
      </div>

       <br>

       
            <div id="content"width="100%">
                <div class="text">
                <!-- Search by Categories -->
                  <h3><center>Categories</center></h3>
                  <hr><font size="3pt">
                  <ul>
                    <li><allUsers><a class="load">All Users</a></li>
                    <li><onlineUsers><a class="load">Online Users</a></onlineUsers></li>
                    <li><recentWarbles><a class="load">Recent Warbles</a></recentWarbles></li>
                    <li><recentUploads><a class="load">Recent Uploads</a></recentUploads></li>
                    </uL></font>
                </div>
            </div>
            <br>

          <div id="content"width="100%">
          <h1 class="Warble"><center>New Users</center></h1>
          <div class="text"><hr></div>
          <div style="padding:5px; filter:alpha(opacity=.7); opacity:.7;" >
        <ul>
        <% for(var i = allUsers.length-1 ; i > (allUsers.length-6); i--) { %>
          <li><a href="/users/<%= allUsers[i].username %>"><%= allUsers[i].username %></a></li>
        <% } %>
        </ul>
        </div>
        </div>
          

    </td>

      <td width="15px"></td>
      <td valign="top" id="default">
      <change>
      
      </change>
        </td>
      </tr>

</table>

<script type="text/javascript">
  var loaddata = function (url) {
    // Create script tag:
    var script = $('<script>');

    // Set the src attribute:
    script.attr('src', url);

    // Append (load) the script:
    $('body').append(script);
  };

  $('#get').bind('click',
    function (event) {

      // Get the user to display:
      var id   = $('textarea').val();

      // Display data after 300 ms:
      setTimeout(function () {

    //Value to terminate at:  
    var value = '-1';
    
    //Search for the user in userdb
    <% for(var i = 0; i < allUsers.length; i++) { %>
      if('<%= allUsers[i].username %>'.indexOf(id) > -1){
        if(value == '-1'){
        //Display the user under Search Results when found
          value = '<h1>Search Results</h1> <hr><a href="/users/<%= allUsers[i].username %>"><%= allUsers[i].username %></a>';
        }
        else{
          value = value + '<br><a href="/users/<%= allUsers[i].username %>"><%= allUsers[i].username %></a>';
        }
      }
        <% } %>
    
    //Show user not found if the id is -1
    if(value == '-1'){
      value = '<h1>Search Results</h1> <hr>User Not Found';
    }
    
    //Display the output
    $('change').html(value + '<br><br>');
    
      }, 200);
      return false;
    });

</script>


<% include footer %>