<!-- Using a table to create a dynamically fluid webpage -->
<table cellspacing="0" cellpadding="0" id="main_size" align="center">
  <td valign="top" width="180px">
    <div id="black">
      <div class="Warble" align="center">Hello <%= username %></div>
    </div>

      <div id="black">

        <!--User Greeting-->
        <h1 class="Warble"><center>Online Users</center></h1>
        <div style="padding:5px"><font color="#b2b2b2">

          <!--List of Online Users-->
          <% for(var userid in users) { %>
            - <a href="/users/<%= users[userid].username %>"><font style="color:WHITE; filter:alpha(opacity=.7);
  opacity:.7;"><%= users[userid].username %></font></a><br>
            <% } %></font>
          </div>
        </div>
    
      <div id="content">
        <!--Realtime Chat-->
      <div class="Warble" align="center"><a href="chat">Realtime Chat</a></div>
      </div>

    </td>
    <td width="10px"></td>
    <td>
      <!--Warble Form-->
      <% include inc/warble_form %>

      </td>
    </div>
  </tr>
</table><br>

<table width="100%" align="center"><tr>
  <td valign="top"><div id="content">
    <!-- List of status updates -->
    <h1>Warbles</h1>
    <hr>
                  <% for(var i = warble.length-1 ; i >= 0; i--) { %>
                  <table width="100%" valign="top"><td><b>
                  <a href="/users/<%= warble[i].username %>"><%= warble[i].username %></a>
                  </b> <font size="2">on 
                  <%= warble[i].day %>
                  </font><br>
                  <%= warble[i].message %>
                  <% if(warble[i].attachment!='none' && warble[i].attachment!='') { %>
                  <br><font size=2><u>Attached</u>: <i>
                  <a href="/uploadedFiles/<%= warble[i].attachment %>" target="_blank"><%= warble[i].attachment %></a>
                  <% } %>
                  </i></font> </b></td><td width="50px"><font size="2">
                  <% if (warble[i].username == username) { %>
                      <a href="" warbStat="DELETE" index="<% i %>">Delete</a><br>
                  <% } else { %>
                  <a href="">Reply</a><br>
                  <% } %>
                  <a href="">Warble</a><br><!--<a href="front" onClick = warble.splice (i, 1);>Delete</a><br>-->
                 <% if(warble[i].attachment!='none' && warble[i].attachment!='') { %>
                  <a href="/uploadedFiles/<%= warble[i].attachment %>" target="_blank">Download</a>
                   <% } 
                   else { } %>
                </font></td></table><hr>
                  <% } %>
                </div>
                
    </td>
  </tr>
</table>
</td></table>