<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
<link rel="stylesheet" href="/stylesheets/style.css" type="text/css" />
<script type="text/javascript" src="javascript/jquery-1.7.1.min.js"></script>

</head>

<script>
$(document).ready(function(){
   $(".DISCOVER").click(function(){
    $(".ATME,button,.PROFILE").removeClass("active");
     $(".DISCOVER").addClass("active");
     $("SWITCH").load("discover");
    });
   $(".ATME").click(function(){
     $(".DISCOVER,button,.PROFILE").removeClass("active");
     $(".ATME").addClass("active");
     $("SWITCH").load("me");
    });
   $(".PROFILE").click(function(){
     $(".DISCOVER,.ATME,button").removeClass("active");
     $(".PROFILE").addClass("active");
     $("SWITCH").load("my_profile");
    });
   $("CHAT").click(function(){
     $(".FRONT,.DISCOVER,.ATME,button").removeClass("active");
     $("SWITCH").load("chat");
    });
});

</script>

<body>
<div id="container">
  <div id="body">
    <div id="header">
<!-- Top Navigation Bar -->

<a href="main" class="link"><button class="active">
<img src="/images/icons/home.png" height="40px" width="40px" align="absmiddle" style="padding-right:5px;">Front</button></a>

<button class="DISCOVER">
<img src="/images/icons/search.png" height="40px" width="40px" align="absmiddle" style="padding-right:5px;"><a class="link">Discover</a></button>

<button class="ATME">
<img src="/images/icons/chat.png" height="40px" width="40px" align="absmiddle" style="padding-right:5px;"><a class="link">At Me</a></button>

<button class="PROFILE">
<img src="/images/icons/profile.png" height="40px" width="40px" align="absmiddle" style="padding-right:5px;"><a class="link">Profile</a></button>

<a href="logout" class="link"><button class="LOGOUT">
<img src="/images/icons/logout.png" height="40px" width="40px" align="absmiddle" style="padding-right:5px;">Logout</button></a>

</div>
<div id="bar"></div>
<br>

<SWITCH>
<!-- Using a table to create a dynamically fluid webpage -->
<table cellspacing="0" cellpadding="0" id="main_size" align="center">
  <td valign="top" width="180px">
    <div id="black">
      <div class="Warble" align="center">Hello <%= username %></div>
    </div>

      <div id="black">

        <!--User Greeting-->
        <h1 class="Warble"><center>Online Users</center></h1>
        <div style="padding:5px"><font color="#b2b2b2">

          <!--List of Online Users-->
          <% for(var userid in users) { %>
            - <a href="/users/<%= users[userid].username %>"><font style="color:WHITE; filter:alpha(opacity=.7);
  opacity:.7;"><%= users[userid].username %></font></a><br>
            <% } %></font>
          </div>
        </div>
    
      <div id="content">
        <!--Realtime Chat-->
      <div class="Warble" align="center"><CHAT><a class="link">Realtime Chat</a></CHAT></div>
      </div>

    </td>
    <td width="10px"></td>
    <td>
      <!--Warble Form-->
      <% include inc/warble_form %>

      </td>
    </div>
  </tr>
</table><br>

<table width="100%" align="center"><tr>
  <td valign="top"><div id="content">
    <!-- List of status updates -->
    <h1>Warbles</h1>
    <hr>
                  <% for(var i = warble.length-1 ; i >= warble.length-5; i--) { %>
                  <table width="100%" valign="top"><td><b>
                  <a href="/users/<%= warble[i].username %>"><%= warble[i].username %></a>
                  </b> <font size="2">on 
                  <%= warble[i].day %>
                  </font><br>
                  <%= warble[i].message %>
                  <% if(warble[i].attachment!='none' && warble[i].attachment!='') { %>
                  <br><font size=2><u>Attached</u>: <i>
                  <a href="/uploadedFiles/<%= warble[i].attachment %>" target="_blank"><%= warble[i].attachment %></a>
                  <% } %>
                  </i></font> </b></td><td width="50px"><font size="2">
                  <% if (warble[i].username == username) { %>
                      <a href="" warbStat="DELETE" index="<% i %>">Delete</a><br>
                  <% } else { %>
                  <a href="">Reply</a><br>
                  <% } %>
                  <a href="">Warble</a><br><!--<a href="front" onClick = warble.splice (i, 1);>Delete</a><br>-->
                 <% if(warble[i].attachment!='none' && warble[i].attachment!='') { %>
                  <a href="/uploadedFiles/<%= warble[i].attachment %>" target="_blank">Download</a>
                   <% } 
                   else { } %>
                </font></td></table><hr>
                  <% } %>
                </div>
                
    </td>
  </tr>
</table>
</td></table>
</SWITCH>

</div><br><br><div id="footer" align="center">
<a href="/user/about"><font color="white">About Warble</a> | 
<a href="../TwitterImplementation.pdf"><font color="white">Documentation (PDF)</font></a>
</div>
</body>
</head>
</html>