<% include header %>
<div id="header">
<!-- Top Navigation Bar -->

<button type="button" class="active">
<img src="/images/icons/home.png" height="40px" width="40px" align="absmiddle" style="padding-right:5px;"><a href="front">Front</a>
</button>

<button type="button">
<img src="/images/icons/search.png" height="40px" width="40px" align="absmiddle" style="padding-right:5px;"><a href="discover">Discover</a>
</button>

<button type="button">
<img src="/images/icons/chat.png" height="40px" width="40px" align="absmiddle" style="padding-right:5px;"><a href="me">At Me</a>
</button>

<button type="button">
<img src="/images/icons/profile.png" height="40px" width="40px" align="absmiddle" style="padding-right:5px;"><a href="my_profile">My Profile</a>
</button>

<button type="button">
<img src="/images/icons/logout.png" height="40px" width="40px" align="absmiddle" style="padding-right:5px;"><a href="/user/logout">Logout</a>
</button>
</div>
<div id="bar"></div>
<br>

<!-- Using a table to create a dynamically fluid webpage -->
<table cellspacing="0" cellpadding="0" id="main_size" align="center">
  <td valign="top" width="180px">
     <div id="black">
        <div class="Warble" align="center">Hello <%= username %></div>
      </div>
            
      <div id="black">
          <h1 class="Warble"><center>Online Users</center></h1>
          <div style="padding:5px">
          <font color="#b2b2b2">
              <% for(var userid in users) { %>
            - <%= users[userid].username %><br>
            <% } %>
          </font>
          </div>

      </div>
    </td>
    <td width="10px"></td>
    <td>
      <table width="100%"><tr>
        <td valign="top">
          <div id="content">

            <!--JavaScript for Status Updates
            <script type="text/javascript" src="javascript/update.js" /> </script>
            <script type="text/javascript" src="lib/warbles/upload.js"></script>
            Status Update and Document Upload Form -->

            <form method="get" id="main" action="/user/process">
                <center>
                    <!-- Textarea for Status Updates-->
                    <textarea rows="1" name="update" id="update"
                    type="text">Isn't it delightful?</textarea>
                </center>

                <table width="97%" align="center">
                    <td>
                        <!-- Upload files button and display message -->
                        <!--input type="file" id= "file" accept="image/*"--><!--/input-->
                        <!--<form method="post" enctype="multipart/form-data" action="/upload">-->
                        <input type="file" name="file" accept="image/*">
                        <!--</form>-->

                    </td>
                    <td align="right">
                        <!-- Status Update Confirmation Button -->
                        <input type="submit" value="Warble!"></input>
                    </td>
                </table>
            </form>

        </td>
        </div>

        </tr>
        </table><br>
		
        <table width="100%" align="center"><tr>
            
            <td valign="top"><div id="content">
                <!-- List of status updates -->
                <h1>Warbles</h1>
                <hr>

                  <% for(var i = warble.length-1 ; i >= 0; i--) { %>
                  <table width="100%" valign="top"><td><b>
                  <%= warble[i].username %>
                  </b> <font size="2">on 
                  <%= warble[i].date %>
                  </font><br>
                  <%= warble[i].message %>
                  <br><font size=2><u>Attached</u>: <i>
                  <%= warble[i].attachment %>
                  </i></font> </b></td><td width="50px"><font size="2"><a href="">Reply</a><br>
                  <a href="">Warble</a><br><a href="front" onClick = warble.splice (i, 1);>Delete</a><br><a href="">Download</a></font></td></table><hr>
                  <% } %>

                   
                    </div>
                
            </td>
        </tr>

</table>
</td></table>

<% include footer %>