<!-- Using a table to compartmentalize the information-->
<table cellspacing="0" cellpadding="0" id="main_size" align="center">
    <tr>
      <td valign="top" width="180px">
    <div id="black">
      <div class="Warble" align="center">Hello <%= username %></div>
    </div>
    
      <div id="content">
        <!--Realtime Chat-->
      <div class="Warble" align="center"><CHAT><a class="link">Realtime Chat</a></CHAT></div>
      </div>

      </td>
       <td width="15px"></td>

        <!-- @Me Warble List -->
        <!-- Can see all posts a user is mentioned in -->
    	<td valign="top">
        <div id="content">
           <h1>Warbles @Me</h1>
                <hr>
                
                <% for (var i = 0; i < warble.length; i++) {
                  if(warble[i].warbleAt == username){ %>
        		    <table width="100%" valign="top"><td><b>
                  <a href="/users/<%= warble[i].username %>"><%= warble[i].username %></a>
                  </b> <font size="2">on 
                  <%= warble[i].day %>
                  </font><b> @ 
                  <%= username %>
                  </b><br>
                  <%= warble[i].message %>
                  <% if(warble[i].attachment!='none') { %>
                  <br><font size=2><u>Attached</u>: <i>
                  <a href="/uploadedFiles/<%= warble[i].attachment %>" target="_blank"><%= warble[i].attachment %></a>
                  <% } %>
                  </i></font> </b></td><td width="50px"><font size="2">
                  <a href="">Reply</a><br>
                  <a href="">Warble</a><br>
                  <% if(warble[i].attachment!='none') { %>
                  <a href="/uploadedFiles/<%= warble[i].attachment %>" target="_blank">Download</a>
                   <% } %>
                </font></td></table><hr>
                  <% } } %>
		
                


                    </div>
                    </td>
        </tr>

</table>