<% include header %>
<div id="header">
<!-- Top Navigation Bar: Front, Discover, Profile, @Me -->
<button type="button">
<img src="/images/icons/home.png" height="40px" width="40px" align="absmiddle" style="padding-right:5px;"><a href="main">Front</a>
</button>

<button type="button">
<img src="/images/icons/search.png" height="40px" width="40px" align="absmiddle" style="padding-right:5px;"><a href="discover">Discover</a>
</button>

<button type="button" class="active">
<img src="/images/icons/chat.png" height="40px" width="40px" align="absmiddle" style="padding-right:5px;"><a href="me">At Me</a>
</button>

<button type="button">
<img src="/images/icons/profile.png" height="40px" width="40px" align="absmiddle" style="padding-right:5px;"><a href="my_profile">My Profile</a>
</button>

<button type="button">
<img src="/images/icons/logout.png" height="40px" width="40px" align="absmiddle" style="padding-right:5px;"><a href="/user/logout">Logout</a>
</button>
</div>
<div id="bar"></div>
<br>


<!-- Using a table to compartmentalize the information-->
<table cellspacing="0" cellpadding="0" id="main_size" align="center">
    <tr>
            
        <!-- @Me Warble List -->
        <!-- Can see all posts a user is mentioned in -->
    	<td valign="top">
        <div id="default">
           <h3><font size="5pt">@Me</font></h3>
                <hr>

                <% for(var i = warble.length-1 ; i >= 0; i--) { 
                if (warble[i].atUser == username) { %>
                  <table width="100%" valign="top"><td><b>
                  <a href="<%= warble[i].username %>"><%= warble[i].username %></a>
                  </b> <font size="2">on 
                  <%= warble[i].date %>
                  </font><b> @ 
                  <%= username %>
                  </b><br>
                  <%= warble[i].message %>
                  <br><font size=2><u>Attached</u>: <i>
                  <%= warble[i].attachment %>
                  </i></font> </b></td><td width="50px"><font size="2"><a href="">Reply</a><br>
                  <a href="">Warble</a><br><a href="">Download</a></font></td></table><hr>
                  <% } } %>


                    </div>
                    </td>
        </tr>

</table>

<% include footer %>