

<% include header %>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script type="text/javascript" src="/javascripts/jquery-min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="/javascripts/chat.js"></script>
<div id="header">
<!-- Top Navigation Bar -->

<button type="button" class="active">
<img src="/images/icons/home.png" height="40px" width="40px" align="absmiddle" style="padding-right:5px;"><a href="/user/main">Front</a>
</button>

<button type="button">
<img src="/images/icons/search.png" height="40px" width="40px" align="absmiddle" style="padding-right:5px;"><a href="/user/discover">Discover</a>
</button>

<button type="button">
<img src="/images/icons/chat.png" height="40px" width="40px" align="absmiddle" style="padding-right:5px;"><a href="/user/me">At Me</a>
</button>

<button type="button">
<img src="/images/icons/profile.png" height="40px" width="40px" align="absmiddle" style="padding-right:5px;"><a href="/user/my_profile">My Profile</a>
</button>

<button type="button">
<img src="/images/icons/logout.png" height="40px" width="40px" align="absmiddle" style="padding-right:5px;"><a href="/user/logout">Logout</a>
</button>
</div>
<div id="bar"></div>
<br>

<!-- Using a table to create a dynamically fluid webpage -->
<table cellspacing="0" cellpadding="0" id="main_size" align="center">
  <td valign="top" width="180px">
     <div id="black">
        <div class="Warble" align="center">Hello <%= username %></div>
      </div>
            
      <div id="black">
          <h1 class="Warble"><center>Online Users</center></h1>
          <div style="padding:5px">
          <font color="#b2b2b2">
              <% for(var userid in users) { %>
            - <%= users[userid].username %><br>
            <% } %>
          </font>
          </div>

      </div>
    </td>
    <td width="10px"></td>
    <td>
      <table width="100%"><tr>
        <td valign="top">
          <div id="content">
    
    <textarea id="chat-text-area" user="<%= username %>"></textarea>
    <br>
    <input id="chat-post-button" user="<%= username %>" type="submit" value="Post">

        </td></div></tr> </table><br>
    
        <table width="100%" align="center"><tr>
            
            <td valign="top"><div id="content">
                <!-- List of status updates -->
                <h1>Realtime Chat</h1>
                <hr>

                 <ul id="message-list">
      <!-- Fill in with the posts from server. -->
                </ul>

             
                   
                    </div>
                
            </td>
        </tr>

</table>
</td></table>

<% include footer %>